<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homepage</title>
    <body>
        <div>
            <h1>Web Pokedex and Teambuilder</h1>
            <p>Select an option below:</p>
            <a th:href="@{/login}">
                <button type="button">Login or Register</button>
            </a>
            <a th:href="@{/pokedex}">
                <button type="button">Use Pokedex</button>
            </a>
        </div>
    </body>
</html>